<a href="https://colab.research.google.com/github/HiroshiATakano/GitHub/blob/master/5%E7%AB%A0_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
import os

path = os.getcwd()

print(path)

try:
    os.chdir(path + "/drive/My Drive/実践データ分析_100本ノック")
except:
    pass

os.getcwd()

/content

'/content/drive/My Drive/実践データ分析_100本ノック'

In [3]:
!pip install japanize-matplotlib

Collecting japanize-matplotlib
  Downloading japanize-matplotlib-1.1.3.tar.gz (4.1 MB)
     |████████████████████████████████| 4.1 MB 5.1 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from japanize-matplotlib) (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (1.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->japanize-matplotlib) (1.15.0)
Building wheels for collected packages: japanize-matplotlib
  Building wheel for japanize-matplotlib (setup.py) ... done
  Created wheel for japanize-matplotlib: filename=japanize_matplotlib-1.1.3-py3-none-any.whl size=4120274 sha256=f3bd8829f3c9a67cbebaa2913c17b31c82297c3f2fff6f5990ea8a0d8a958378
  Stored in directory: /root/.cache/pip/wheels/83/97/6b/e9e0cde099cc40f972b8dd23367308f7705ae06cd6d4714658
Successfully built japanize-matplotlib
Installing collected packages: japanize-matplotlib
Successfully installed japanize-matplotlib-1.1.3

In [4]:
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import japanize_matplotlib

%matplotlib inline

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactiveity = "all"

In [6]:
import glob

for f in glob.glob('./Data/5章/*.csv'):
  print(os.path.split(f)[1])

customer_join.csv
use_log_months.csv

In [7]:
import pathlib

d = {}

p_temp = pathlib.Path('./Data/5章').glob('*.csv')

for p in p_temp:
  print(p)
  f = p.name.split('.')[0] 
  df = pd.read_csv('./Data/5章/' + p.name)
  d[f]= df

Data/5章/customer_join.csv
Data/5章/use_log_months.csv

#ノック４１：データ読み込み、整形

In [8]:
customer = d['customer_join']
uselog_months = d['use_log_months']

In [9]:
year_months = list(uselog_months["年月"].unique())
year_months

[201804,
 201805,
 201806,
 201807,
 201808,
 201809,
 201810,
 201811,
 201812,
 201901,
 201902,
 201903]

In [10]:
uselog = pd.DataFrame()
for i in range(1,len(year_months)):
  tmp = uselog_months.loc[uselog_months["年月"]==year_months[i]].copy()
  tmp.rename(columns={"count":"count_0"},inplace=True)
  tmp_before = uselog_months.loc[uselog_months["年月"]==year_months[i-1]].copy()
  del tmp_before["年月"]
  tmp_before.rename(columns={"count":"count_1"},inplace=True)
  tmp = pd.merge(tmp,tmp_before,on="customer_id",how="left")
  uselog = pd.concat([uselog,tmp],ignore_index=True)
uselog.head()

       年月 customer_id  count_0  count_1
0  201805    AS002855        5      4.0
1  201805    AS009373        4      3.0
2  201805    AS015233        7      NaN
3  201805    AS015315        3      6.0
4  201805    AS015739        5      7.0

#ノック４２：退会前月の大会顧客データ作成

In [11]:
from dateutil.relativedelta import relativedelta

In [12]:
exit_customer = customer.loc[customer["is_deleted"]==1].copy()
exit_customer["end_date"] = pd.to_datetime(exit_customer["end_date"])
exit_customer["exit_date"] = exit_customer['end_date'].map(lambda x: x - relativedelta(months=1))
exit_customer["年月"] = exit_customer["exit_date"].dt.strftime("%Y%m")
exit_customer.head()

    customer_id    name class  ... membership_period  exit_date      年月
708    TS511179  XXXXXX   C01  ...                23 2018-03-30  201803
729    TS443736    XXXX   C02  ...                23 2018-03-30  201803
730    HD542886      XX   C01  ...                23 2018-03-30  201803
770    HD597545   XXXXX   C03  ...                23 2018-04-30  201804
785    HI749296   XXXXX   C01  ...                23 2018-04-30  201804

[5 rows x 20 columns]

In [13]:
uselog["年月"] = uselog["年月"].astype(str)
exit_uselog = pd.merge(uselog,exit_customer,on=["customer_id","年月"],how="left")
exit_uselog = exit_uselog.dropna(subset=["name"])
exit_uselog

           年月 customer_id  count_0  ...   calc_date membership_period  exit_date
19     201805    AS055680        3  ...  2018-06-30               3.0 2018-05-30
57     201805    AS169823        2  ...  2018-06-30               7.0 2018-05-30
110    201805    AS305860        5  ...  2018-06-30              12.0 2018-05-30
128    201805    AS363699        5  ...  2018-06-30               4.0 2018-05-30
147    201805    AS417696        1  ...  2018-06-30               9.0 2018-05-30
...       ...         ...      ...  ...         ...               ...        ...
30758  201902    TS645212        4  ...  2019-03-31              12.0 2019-02-28
30787  201902    TS741703        5  ...  2019-03-31               3.0 2019-02-28
30827  201902    TS859258        1  ...  2019-03-31               3.0 2019-02-28
30842  201902    TS886985        5  ...  2019-03-31              12.0 2019-02-28
30852  201902    TS921837        2  ...  2019-03-31               9.0 2019-02-28

[1104 rows x 22 columns]

#ノック４３：継続顧客データ

In [29]:
conti_customer = customer.loc[customer["is_deleted"]==0].copy()
conti_uselog = pd.merge(uselog,conti_customer, on="customer_id", how='left')
conti_uselog = conti_uselog.dropna(subset=["name"])
conti_uselog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27422 entries, 0 to 33850
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   年月                 27422 non-null  object
 1   customer_id        27422 non-null  object
 2   count_0            27422 non-null  int64
 3   count_1            26734 non-null  float64
 4   name               27422 non-null  object
 5   class              27422 non-null  object
 6   gender             27422 non-null  object
 7   start_date         27422 non-null  object
 8   end_date           0 non-null      object
 9   campaign_id        27422 non-null  object
 10  is_deleted         27422 non-null  float64
 11  class_name         27422 non-null  object
 12  price              27422 non-null  float64
 13  campaign_name      27422 non-null  object
 14  mean               27422 non-null  float64
 15  median             27422 non-null  float64
 16  max                27422 non-null  float64
 17  min                27422 non-null  float64
 18  routine_flg        27422 non-null  float64
 19  calc_date          27422 non-null  object
 20  membership_period  27422 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 4.6+ MB

In [30]:
#conti_uselog = conti_uselog.sample(frac=1).reset_index(drop=True)
conti_uselog = conti_uselog.drop_duplicates(subset="customer_id", keep='last').reset_index(drop=True)
conti_uselog

          年月 customer_id  count_0  ...  routine_flg   calc_date membership_period
0     201903    AS002855        4  ...          1.0  2019-04-30              29.0
1     201903    AS009373        5  ...          1.0  2019-04-30              41.0
2     201903    AS015233        8  ...          1.0  2019-04-30              11.0
3     201903    AS015315        4  ...          1.0  2019-04-30              45.0
4     201903    AS015739        6  ...          1.0  2019-04-30              22.0
...      ...         ...      ...  ...          ...         ...               ...
2837  201903    TS995853        8  ...          1.0  2019-04-30               2.0
2838  201903    TS998593        8  ...          1.0  2019-04-30               7.0
2839  201903    TS999079        3  ...          1.0  2019-04-30              34.0
2840  201903    TS999231        6  ...          1.0  2019-04-30              25.0
2841  201903    TS999855        4  ...          1.0  2019-04-30              24.0

[2842 rows x 21 columns]

In [31]:
predict_data = pd.concat([conti_uselog, exit_uselog], ignore_index=True)
predict_data

          年月 customer_id  count_0  ...   calc_date membership_period  exit_date
0     201903    AS002855        4  ...  2019-04-30              29.0        NaT
1     201903    AS009373        5  ...  2019-04-30              41.0        NaT
2     201903    AS015233        8  ...  2019-04-30              11.0        NaT
3     201903    AS015315        4  ...  2019-04-30              45.0        NaT
4     201903    AS015739        6  ...  2019-04-30              22.0        NaT
...      ...         ...      ...  ...         ...               ...        ...
3941  201902    TS645212        4  ...  2019-03-31              12.0 2019-02-28
3942  201902    TS741703        5  ...  2019-03-31               3.0 2019-02-28
3943  201902    TS859258        1  ...  2019-03-31               3.0 2019-02-28
3944  201902    TS886985        5  ...  2019-03-31              12.0 2019-02-28
3945  201902    TS921837        2  ...  2019-03-31               9.0 2019-02-28

[3946 rows x 22 columns]

#ノック４４：予測する月の在籍期間

In [36]:
predict_data["now_date"] = pd.to_datetime(predict_data["年月"],format="%Y%m")
predict_data["start_date"] = pd.to_datetime(predict_data["start_date"])
predict_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3946 entries, 0 to 3945
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   年月                 3946 non-null   object
 1   customer_id        3946 non-null   object
 2   count_0            3946 non-null   int64
 3   count_1            3829 non-null   float64
 4   name               3946 non-null   object
 5   class              3946 non-null   object
 6   gender             3946 non-null   object
 7   start_date         3946 non-null   datetime64[ns]
 8   end_date           1104 non-null   object
 9   campaign_id        3946 non-null   object
 10  is_deleted         3946 non-null   float64
 11  class_name         3946 non-null   object
 12  price              3946 non-null   float64
 13  campaign_name      3946 non-null   object
 14  mean               3946 non-null   float64
 15  median             3946 non-null   float64
 16  max                3946 non-null   float64
 17  min                3946 non-null   float64
 18  routine_flg        3946 non-null   float64
 19  calc_date          3946 non-null   object
 20  membership_period  3946 non-null   float64
 21  exit_date          1104 non-null   datetime64[ns]
 22  now_date           3946 non-null   datetime64[ns]
 23  period             3946 non-null   int64
dtypes: datetime64[ns](3), float64(9), int64(2), object(10)
memory usage: 740.0+ KB

In [37]:
def delta(a,b):
  d = relativedelta(a,b)
  return d.years*12 + d.months

predict_data["period"] = predict_data.apply(lambda x: delta(x['now_date'],x['start_date']),axis=1)
predict_data.sample(n=5)

          年月 customer_id  count_0  ...  exit_date   now_date period
1754  201903    OA101976        6  ...        NaT 2019-03-01     38
1856  201903    OA374469        7  ...        NaT 2019-03-01      0
1399  201903    IK039344        8  ...        NaT 2019-03-01      2
1339  201903    HI893036        6  ...        NaT 2019-03-01     17
2796  201903    TS913591        3  ...        NaT 2019-03-01     31

[5 rows x 24 columns]