<a href="https://colab.research.google.com/github/HiroshiATakano/GitHub/blob/master/%E3%81%A0%E3%81%8B%E3%82%89%E5%83%95%E3%81%AFPandas%E3%82%92%E3%82%84%E3%82%81%E3%81%9F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
import os
import numpy as np
import pandas as pd
import tempfile
from glob import glob

In [4]:
path = os.getcwd()

try:
    os.chdir(path + "/drive/My Drive/Pandas 100 knocks (1)/")
except:
    pass

os.getcwd()

'/content/drive/My Drive/Pandas 100 knocks (1)'

In [5]:
%ls

 Data/  'Pandas 100 knocks.ipynb'   だから僕はPandasをやめた.ipynb

In [6]:
for curDir, dirs, files in os.walk('./Data'):
  print(curDir)
  for file in files:
    print(os.path.join(curDir,file))

./Data
./Data/category.csv
./Data/receipt.csv
./Data/customer.csv
./Data/store.csv
./Data/geocode.csv
./Data/product.csv

In [99]:
df_receipt = pd.read_csv('./Data/receipt.csv')
df_store = pd.read_csv('./Data/store.csv')


arr_receipt = np.genfromtxt(
    './Data/receipt.csv', delimiter=',', encoding='utf-8',
    names=True, dtype=None)
arr_store = np.genfromtxt(
    './Data/store.csv', delimiter=',', encoding='utf-8',
    names=True, dtype=None)

In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactiveity = "all"

In [9]:
import sys

sys.getsizeof(df_receipt)
# 26065721
sys.getsizeof(arr_receipt)
# 15074160

17586504

#P_001

In [22]:
df_receipt.head(10)

   sales_ymd  sales_epoch store_cd  ...  product_cd  quantity amount
0   20181103   1541203200   S14006  ...  P070305012         1    158
1   20181118   1542499200   S13008  ...  P070701017         1     81
2   20170712   1499817600   S14028  ...  P060101005         1    170
3   20190205   1549324800   S14042  ...  P050301001         1     25
4   20180821   1534809600   S14025  ...  P060102007         1     90
5   20190605   1559692800   S13003  ...  P050102002         1    138
6   20181205   1543968000   S14024  ...  P080101005         1     30
7   20190922   1569110400   S14040  ...  P070501004         1    128
8   20170504   1493856000   S13020  ...  P071302010         1    770
9   20191010   1570665600   S14027  ...  P071101003         1    680

[10 rows x 9 columns]

In [10]:
arr_receipt[:10]

array([(20181103, 1541203200, 'S14006',  112, 1, 'CS006214000001', 'P070305012', 1, 158),
       (20181118, 1542499200, 'S13008', 1132, 2, 'CS008415000097', 'P070701017', 1,  81),
       (20170712, 1499817600, 'S14028', 1102, 1, 'CS028414000014', 'P060101005', 1, 170),
       (20190205, 1549324800, 'S14042', 1132, 1, 'ZZ000000000000', 'P050301001', 1,  25),
       (20180821, 1534809600, 'S14025', 1102, 2, 'CS025415000050', 'P060102007', 1,  90),
       (20190605, 1559692800, 'S13003', 1112, 1, 'CS003515000195', 'P050102002', 1, 138),
       (20181205, 1543968000, 'S14024', 1102, 2, 'CS024514000042', 'P080101005', 1,  30),
       (20190922, 1569110400, 'S14040', 1102, 1, 'CS040415000178', 'P070501004', 1, 128),
       (20170504, 1493856000, 'S13020', 1112, 2, 'ZZ000000000000', 'P071302010', 1, 770),
       (20191010, 1570665600, 'S14027', 1102, 1, 'CS027514000015', 'P071101003', 1, 680)],
      dtype=[('sales_ymd', '<i8'), ('sales_epoch', '<i8'), ('store_cd', '<U6'), ('receipt_no', '<i8'), ('receipt_sub_no', '<i8'), ('customer_id', '<U14'), ('product_cd', '<U10'), ('quantity', '<i8'), ('amount', '<i8')])

In [11]:
# 模範解答
%timeit df_receipt.head(10)
# 130 µs ± 5.02 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

%timeit arr_receipt[:10]
# 244 ns ± 8.23 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

The slowest run took 17.42 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 28.8 µs per loop
The slowest run took 25.94 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 255 ns per loop

#P_002

In [33]:
df_receipt[["sales_ymd","customer_id","product_cd","amount"]].head(10)

   sales_ymd     customer_id  product_cd  amount
0   20181103  CS006214000001  P070305012     158
1   20181118  CS008415000097  P070701017      81
2   20170712  CS028414000014  P060101005     170
3   20190205  ZZ000000000000  P050301001      25
4   20180821  CS025415000050  P060102007      90
5   20190605  CS003515000195  P050102002     138
6   20181205  CS024514000042  P080101005      30
7   20190922  CS040415000178  P070501004     128
8   20170504  ZZ000000000000  P071302010     770
9   20191010  CS027514000015  P071101003     680

In [34]:
arr_receipt[['sales_ymd','customer_id','product_cd','amount']][:10]

array([(20181103, 'CS006214000001', 'P070305012', 158),
       (20181118, 'CS008415000097', 'P070701017',  81),
       (20170712, 'CS028414000014', 'P060101005', 170),
       (20190205, 'ZZ000000000000', 'P050301001',  25),
       (20180821, 'CS025415000050', 'P060102007',  90),
       (20190605, 'CS003515000195', 'P050102002', 138),
       (20181205, 'CS024514000042', 'P080101005',  30),
       (20190922, 'CS040415000178', 'P070501004', 128),
       (20170504, 'ZZ000000000000', 'P071302010', 770),
       (20191010, 'CS027514000015', 'P071101003', 680)],
      dtype={'names':['sales_ymd','customer_id','product_cd','amount'], 'formats':['<i8','<U14','<U10','<i8'], 'offsets':[0,56,112,160], 'itemsize':168})

In [35]:
%timeit df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].head(10)
# 5.19 ms ± 43.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

%timeit arr_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']][:10]
# 906 ns ± 17.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

100 loops, best of 3: 2.87 ms per loop
The slowest run took 11.66 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 856 ns per loop

#P_003

In [42]:
df_tmp = df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']]
df_tmp.rename(columns={"sales_ymd":"sales_data"}).head(10)

   sales_data     customer_id  product_cd  amount
0    20181103  CS006214000001  P070305012     158
1    20181118  CS008415000097  P070701017      81
2    20170712  CS028414000014  P060101005     170
3    20190205  ZZ000000000000  P050301001      25
4    20180821  CS025415000050  P060102007      90
5    20190605  CS003515000195  P050102002     138
6    20181205  CS024514000042  P080101005      30
7    20190922  CS040415000178  P070501004     128
8    20170504  ZZ000000000000  P071302010     770
9    20191010  CS027514000015  P071101003     680

In [14]:
import numpy.lib.recfunctions as rfn

In [15]:
rfn.rename_fields(arr_receipt, {'sales_ymd': 'sales_date'})\
  [['sales_date','customer_id','product_cd','amount']][:10]

array([(20181103, 'CS006214000001', 'P070305012', 158),
       (20181118, 'CS008415000097', 'P070701017',  81),
       (20170712, 'CS028414000014', 'P060101005', 170),
       (20190205, 'ZZ000000000000', 'P050301001',  25),
       (20180821, 'CS025415000050', 'P060102007',  90),
       (20190605, 'CS003515000195', 'P050102002', 138),
       (20181205, 'CS024514000042', 'P080101005',  30),
       (20190922, 'CS040415000178', 'P070501004', 128),
       (20170504, 'ZZ000000000000', 'P071302010', 770),
       (20191010, 'CS027514000015', 'P071101003', 680)],
      dtype={'names':['sales_date','customer_id','product_cd','amount'], 'formats':['<i8','<U14','<U10','<i8'], 'offsets':[0,56,112,160], 'itemsize':168})

In [16]:
%timeit df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].rename(columns={'sales_ymd': 'sales_date'}).head(10)
# 12.8 ms ± 252 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

%timeit np.lib.recfunctions.rename_fields(arr_receipt, {'sales_ymd': 'sales_date'})[['sales_date', 'customer_id', 'product_cd', 'amount']][:10]
# 6.19 µs ± 132 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

100 loops, best of 3: 5.43 ms per loop
The slowest run took 6.31 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 6.23 µs per loop

#P_004

In [49]:
dr_tmp = df_receipt[["sales_ymd","customer_id","product_cd","amount"]]
df_tmp[df_tmp['customer_id']=='CS018205000001']

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
9843    20180414  CS018205000001  P060104007     600
21110   20170614  CS018205000001  P050206001     990
27673   20170614  CS018205000001  P060702015     108
27840   20190216  CS018205000001  P071005024     102
28757   20180414  CS018205000001  P071101002     278
39256   20190226  CS018205000001  P070902035     168
58121   20190924  CS018205000001  P060805001     495
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100
88508   20190216  CS018205000001  P040101002     218
91525   20190924  CS018205000001  P091503001     280

In [18]:
arr_receipt[['sales_ymd','customer_id','product_cd','amount']][arr_receipt['customer_id']=='CS018205000001']

array([(20180911, 'CS018205000001', 'P071401012', 2200),
       (20180414, 'CS018205000001', 'P060104007',  600),
       (20170614, 'CS018205000001', 'P050206001',  990),
       (20170614, 'CS018205000001', 'P060702015',  108),
       (20190216, 'CS018205000001', 'P071005024',  102),
       (20180414, 'CS018205000001', 'P071101002',  278),
       (20190226, 'CS018205000001', 'P070902035',  168),
       (20190924, 'CS018205000001', 'P060805001',  495),
       (20190226, 'CS018205000001', 'P071401020', 2200),
       (20180911, 'CS018205000001', 'P071401005', 1100),
       (20190216, 'CS018205000001', 'P040101002',  218),
       (20190924, 'CS018205000001', 'P091503001',  280)],
      dtype={'names':['sales_ymd','customer_id','product_cd','amount'], 'formats':['<i8','<U14','<U10','<i8'], 'offsets':[0,56,112,160], 'itemsize':168})

In [20]:
%timeit df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].\
query('customer_id == "CS018205000001"')
# 11.6 ms ± 477 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

%timeit df_receipt.loc[df_receipt['customer_id'] == 'CS018205000001',\
                       ['sales_ymd', 'customer_id', 'product_cd', 'amount']]
# 9.49 ms ± 212 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

%timeit arr_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']][arr_receipt['customer_id'] == 'CS018205000001']
# 2.7 ms ± 475 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

100 loops, best of 3: 8.37 ms per loop
100 loops, best of 3: 7.86 ms per loop
100 loops, best of 3: 2.95 ms per loop

#P_005

In [77]:
df_tmp = df_receipt[["sales_ymd","customer_id","product_cd","amount"]]
df_tmp[(df_tmp['customer_id']=='CS018205000001') & (df_tmp['amount']>=1000)]

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100

In [78]:
col_list = ['sales_ymd','customer_id','product_cd','amount']
cond = ((arr_receipt['customer_id']=='CS018205000001') & (arr_receipt['amount']>=1000))
arr_receipt[col_list][cond]

array([(20180911, 'CS018205000001', 'P071401012', 2200),
       (20190226, 'CS018205000001', 'P071401020', 2200),
       (20180911, 'CS018205000001', 'P071401005', 1100)],
      dtype={'names':['sales_ymd','customer_id','product_cd','amount'], 'formats':['<i8','<U14','<U10','<i8'], 'offsets':[0,56,112,160], 'itemsize':168})

#P_006

In [82]:
df_tmp = df_receipt[["sales_ymd","customer_id","product_cd","amount","quantity"]]
df_tmp[(df_tmp['customer_id']=='CS018205000001') & ((df_tmp['amount']>=1000) | (df_tmp['quantity']>=5))]

       sales_ymd     customer_id  product_cd  amount  quantity
36      20180911  CS018205000001  P071401012    2200         1
9843    20180414  CS018205000001  P060104007     600         6
21110   20170614  CS018205000001  P050206001     990         5
68117   20190226  CS018205000001  P071401020    2200         1
72254   20180911  CS018205000001  P071401005    1100         1

In [85]:
col_list = ['sales_ymd','customer_id','product_cd','amount','quantity']
cond = ((arr_receipt['customer_id']=='CS018205000001') & ((arr_receipt['amount']>=1000) | \
                                                          (arr_receipt['quantity']>=5)))
arr_receipt[col_list][cond]

array([(20180911, 'CS018205000001', 'P071401012', 2200, 1),
       (20180414, 'CS018205000001', 'P060104007',  600, 6),
       (20170614, 'CS018205000001', 'P050206001',  990, 5),
       (20190226, 'CS018205000001', 'P071401020', 2200, 1),
       (20180911, 'CS018205000001', 'P071401005', 1100, 1)],
      dtype={'names':['sales_ymd','customer_id','product_cd','amount','quantity'], 'formats':['<i8','<U14','<U10','<i8','<i8'], 'offsets':[0,56,112,160,152], 'itemsize':168})

#P_007

In [96]:
col_list = ['sales_ymd','customer_id','product_cd','amount','quantity']
cond = ((arr_receipt['customer_id']=='CS018205000001') & (arr_receipt['amount']>=1000) & \
                                                          (arr_receipt['amount']<2000))
arr_receipt[col_list][cond]

array([(20180911, 'CS018205000001', 'P071401005', 1100, 1)],
      dtype={'names':['sales_ymd','customer_id','product_cd','amount','quantity'], 'formats':['<i8','<U14','<U10','<i8','<i8'], 'offsets':[0,56,112,160,152], 'itemsize':168})

In [95]:
df_tmp = df_receipt[["sales_ymd","customer_id","product_cd","amount","quantity"]]
df_tmp[(df_tmp['customer_id']=='CS018205000001') & (df_tmp['amount']>=1000) & (df_tmp['amount']<= 2000)]

       sales_ymd     customer_id  product_cd  amount  quantity
72254   20180911  CS018205000001  P071401005    1100         1

#P_008

In [91]:
col_list = ['sales_ymd','customer_id','product_cd','amount','quantity']
cond = ((arr_receipt['customer_id']=='CS018205000001') & (arr_receipt['product_cd'] != "P071401019"))
arr_receipt[col_list][cond]

array([(20180911, 'CS018205000001', 'P071401012', 2200, 1),
       (20180414, 'CS018205000001', 'P060104007',  600, 6),
       (20170614, 'CS018205000001', 'P050206001',  990, 5),
       (20170614, 'CS018205000001', 'P060702015',  108, 1),
       (20190216, 'CS018205000001', 'P071005024',  102, 1),
       (20180414, 'CS018205000001', 'P071101002',  278, 1),
       (20190226, 'CS018205000001', 'P070902035',  168, 1),
       (20190924, 'CS018205000001', 'P060805001',  495, 1),
       (20190226, 'CS018205000001', 'P071401020', 2200, 1),
       (20180911, 'CS018205000001', 'P071401005', 1100, 1),
       (20190216, 'CS018205000001', 'P040101002',  218, 1),
       (20190924, 'CS018205000001', 'P091503001',  280, 1)],
      dtype={'names':['sales_ymd','customer_id','product_cd','amount','quantity'], 'formats':['<i8','<U14','<U10','<i8','<i8'], 'offsets':[0,56,112,160,152], 'itemsize':168})

In [92]:
df_tmp = df_receipt[["sales_ymd","customer_id","product_cd","amount","quantity"]]
df_tmp[(df_tmp['customer_id']=='CS018205000001') & (df_tmp['product_cd'] != "P071401019")]

       sales_ymd     customer_id  product_cd  amount  quantity
36      20180911  CS018205000001  P071401012    2200         1
9843    20180414  CS018205000001  P060104007     600         6
21110   20170614  CS018205000001  P050206001     990         5
27673   20170614  CS018205000001  P060702015     108         1
27840   20190216  CS018205000001  P071005024     102         1
28757   20180414  CS018205000001  P071101002     278         1
39256   20190226  CS018205000001  P070902035     168         1
58121   20190924  CS018205000001  P060805001     495         1
68117   20190226  CS018205000001  P071401020    2200         1
72254   20180911  CS018205000001  P071401005    1100         1
88508   20190216  CS018205000001  P040101002     218         1
91525   20190924  CS018205000001  P091503001     280         1

#P_009

In [100]:
df_store.query('not(prefecture_cd == "13" | floor_area > 900)')

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
38   S12013       習志野店             12  ...  140.0220  35.66122      808.0

[3 rows x 10 columns]

In [103]:
df_store.query('prefecture_cd != "13" & floor_area <= 900')

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
38   S12013       習志野店             12  ...  140.0220  35.66122      808.0

[3 rows x 10 columns]

In [106]:
cond = ((arr_store['prefecture_cd'] != 13) & (arr_store['floor_area'] <= 900))
arr_store[cond]

array([('S14046', '北山田店', 14, '神奈川県', '神奈川県横浜市都筑区北山田一丁目', 'カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ', '045-123-4049', 139.5916, 35.56189, 831.),
       ('S14011', '日吉本町店', 14, '神奈川県', '神奈川県横浜市港北区日吉本町四丁目', 'カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ', '045-123-4033', 139.6316, 35.54655, 890.),
       ('S12013', '習志野店', 12, '千葉県', '千葉県習志野市芝園一丁目', 'チバケンナラシノシシバゾノイッチョウメ', '047-123-4002', 140.022 , 35.66122, 808.)],
      dtype=[('store_cd', '<U6'), ('store_name', '<U6'), ('prefecture_cd', '<i8'), ('prefecture', '<U4'), ('address', '<U19'), ('address_kana', '<U30'), ('tel_no', '<U12'), ('longitude', '<f8'), ('latitude', '<f8'), ('floor_area', '<f8')])